extend ./parts/layout.jade

block main
	section.contacts
		.container
			.row
				aside.col-xs-4
				main.col-xs-8
					section.breadcrumbs
						ol.breadcrumb
							li: a(href="#") Главная страница
							li.active Контакты